---
layout: splash
permalink: /
title: "2023 International Workshop on Learning and Information Theory (WOLIT'23)"
header:
  overlay_color: "#000"
  # overlay_filter: "0.2"
  overlay_image: /assets/images/banner_home-1.jpg
  actions:
    - label: "Register"
      url: /registration.html
  # caption: "Photo"
excerpt: "July 3-5, 2023 <br> Shenzhen & Hong Kong, China"
venue:
  - image_path: /assets/images/venue-SZ.png
    alt: "venue-SZ"
    title: "Venue - ShenZhen"
    excerpt: "Shenzhen Institute for Talents Development"
  - image_path: /assets/images/venue-HK.png
    alt: "venue-HK"
    title: "Venue - HongKong"
    excerpt: "Charles K. Kao Auditorium, Science Park"
  - image_path: /assets/images/venue-trans.jpg
    alt: "Transportation"
    title: "Transportation"
    excerpt: "click button below for details"
    url: "/venue.html"
    btn_label: "Venue & Transportation >"
    btn_class: "btn--info"
---

<div style="text-align: left; width: 75%; margin: 0 auto 0 0;">
  WOLIT’23 is jointly hosted by Institute of Data and Information (iDI) of Tsinghua Shenzhen International Graduate School,  Institute of Network Coding (INC) of The Chinese University of Hong Kong (CUHK) and Shenzhen Research Institute of Big Data.
  <p style="margin: 10px 0;"></p>
  WOLIT aims to bring together the world’s leading researchers to explore deep unsolved problems in information theory, learning theory and the related fields.
</div>

<h2>News</h2>
{% include news.html %}

<h2>Program</h2>
{% include time_schedule.html %}

<h2>Venue</h2>
{% include feature_row id="venue" %}

<h2>Organizers</h2>
{% include organizers.html%}

<h2>Sponsors</h2>
{% include sponsors.html%}