<div style="display:flex; -ms-flex-align: center;">
<!-- <div> -->
<div style="overflow: hidden; margin:0 auto; float: none;">
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{border-width: 1px 0; border-color:rgb(232, 232, 232);border-style:solid; overflow:hidden;padding:5px 5px;word-break:normal;text-align:center; }
    .tg th{border-width: 0;border-top-width:2px;border-color:rgb(180, 180, 180);border-style:solid;font-weight:bold;overflow:hidden;padding:5px 5px;word-break:normal;text-align:center; }
    .brk {background-color: rgb(235, 255, 246);}
  </style>
  <div style="margin: 0 10px 0 0; float: left;">
      <table class="tg">
        {% for day in site.data.time_sched %}
          <thead>
            <tr>
              <th>Day {{ day.num }}</th>
              <th>
                {% for line in day.date %}
                  {{ line }}<br>
                {% endfor %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for sch in day.sched %}
            <tr {% if sch.event contains 'Break' %}class="brk"{% endif %}>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sch.time}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sch.event}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
  </div>
</div>
</div>
