<div style="overflow: hidden;">
  <div style="margin: 10px; float: left;">
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
      .tg td{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:0px 5px;word-break:normal;}
      .tg th{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:0px 5px;word-break:normal;}
      .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
      .tg .tg-fu7v{background-color:#efefef;border-color:inherit;font-weight:bold;text-align:left;vertical-align:middle}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-fu7v">   <br>Time</th>
          <th class="tg-fu7v">   <br>3rd July Monday   </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>8:00-8:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Registration&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>8:30-9:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Opening Ceremony   </td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>9:00-9:45&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Speaker 1</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>9:45-10:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Speaker 2</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>10:30-11:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Group Photo &amp; Coffee Break&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>11:00-11:45&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Speaker 3</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>12:00-13:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Lunch Break   </td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>13:30-14:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>14:15-15:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>15:00-15:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Coffee Break   </td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>15:30-16:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>16:15-17:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>17:00-17:45&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Speaker   8   </td>
        </tr>
        <tr>
          <td class="tg-lboi">&nbsp;&nbsp;&nbsp;<br>18:00-20:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-lboi">   <br>Banquet</td>
        </tr>
      </tbody>
      </table>
  </div>
  <div style="margin: 10px; float: left;">
    <style type="text/css">
      .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;margin:0px auto;}
      .tg td{background-color:#fff;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
        border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:0px 11px;
        word-break:normal;}
      .tg th{background-color:#f0f0f0;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
        border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;
        padding:0px 11px;word-break:normal;}
      .tg .tg-dvid{background-color:#efefef;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
      .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-dvid">   <br>Time   </th>
          <th class="tg-dvid">   <br>4th July Tuesday   </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>8:30-9:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>9:15-10:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>10:00-10:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">   <br>Coffee Break   </td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>10:30-11:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;11&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>11:15-12:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;12&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>12:00-13:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">   <br>Lunch Break   </td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>13:30-14:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;13&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>14:15-15:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;14&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>15:00-15:45&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0pky">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;15&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </tbody>
      </table>
  </div>
  <div style="margin:10px; float: left;">
    <style type="text/css">
      .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;margin:0px auto;}
      .tg td{background-color:#fff;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
        border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:0px 19px;
        word-break:normal;}
      .tg th{background-color:#f0f0f0;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
        border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;
        padding:0px 19px;word-break:normal;}
      .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
      .tg .tg-0lax{text-align:left;vertical-align:top}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-1wig">&nbsp;&nbsp;&nbsp;<br>Time&nbsp;&nbsp;&nbsp;</th>
          <th class="tg-1wig">   <br>5th   July&nbsp;&nbsp;Wednesday   </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>8:30-9:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;16&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>9:15-10:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;17&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>10:00-10:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Coffee&nbsp;&nbsp;&nbsp;Break&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>10:30-11:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;18&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>11:15-12:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;19&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>12:00-13:30&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Lunch&nbsp;&nbsp;&nbsp;Break&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>13:30-14:15&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;20&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>14:15-15:00&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;21&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>15:00-15:45&nbsp;&nbsp;&nbsp;</td>
          <td class="tg-0lax">&nbsp;&nbsp;&nbsp;<br>Speaker&nbsp;&nbsp;&nbsp;22&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </tbody>
      </table>
  </div>
</div>

